{% load static %}
{% load custom_tag %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="#" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />



	{% block headblock %}
	{% endblock %}


  <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="#">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}"rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}"rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}"rel="stylesheet" />
  <link href="{% static 'css/ssstyle.css' %}"rel="stylesheet" />
</head>

<body class="h-auto" style="background-color:#e0e4e9; backgroud_image">

  {% comment %} < class="hero_area"> {% endcomment %}
    <!-- header section strats -->
    <header class = "shadow-lg" style="background-color:white;">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="#">
        {% for i in about %}
          <span class="ms-5">
            {{i.site_name}}
          </span>
        </a>
        {% endfor %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'allhotels' %}">Hotels</a>
              </li>   
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              {% if request.user.user_type != '1' and request.user.user_type != '3' %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'hotel_manager_register' %}">Become a Partner</a>
              </li>
              {% endif %}
              {% comment %} {% if user|is_hotel_manager %} {% endcomment %}
              
            </ul>
          </div>
          <div class="quote_btn-container">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i> {{ user }}
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.user.user_type == '1' %}
                    <li class="dropdown-item">
                      <a class="nav-link" href="{% url 'managerportel' %}">Back panel</a>
                    </li>
                    <li class="dropdown-item" fint-family=>
                      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                      {% elif request.user.user_type == '3' %}
                    <li class="dropdown-item" fint-family=>
                      <a class="nav-link" href="{% url 'adminportel' %}">Dashboard</a>
                    </li>
                    <li class="dropdown-item" fint-family=>
                      <a class="nav-link" href="{% url 'profile' %}">Profile</a>  
                    </li>
                    {% else %}
                    <li class="dropdown-item" fint-family=>
                      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                  {% endif %}

                  <li>
                    <a class="dropdown-item" href="#">
                      <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><span>Logout</span></button>
                      </form>
                    </a>
                  </li>
                </ul>
              </li>
            {% else %}
              <a href="{% url 'login' %}">
                <span>Login</span>
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->
<br><br>
<section id="search-section">
  <div class="banner-main">
    <div class="container shadow-lg" style="background-color:white; border-radius:8px;">
      <div class="container">
        <form class="main-form" id="searchbar" action = '{% url "hotel_search" %}' >
          <h3>Find Your Hotel</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                  <label>Location:</label>
                  <input class="form-control" list="suggestions" placeholder="Search City" id="city" type="text" name="city" value="{{ request.session.city }}" required>
                  <ul id="cityList" class="autocomplete-list"></ul>
              </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                  <label >Checkin :</label>
                  <input class="form-control" placeholder="Search" id="checkin" type="date" name="checkin" value="{{ request.session.checkin }}" required>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                  <label>Checkout :</label>
                  <input class="form-control" placeholder="Search" id="checkout" type="date"  name="checkout" value="{{ request.session.checkout }}" required>
                  <p style="color: red;">{{datevalidation}}</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                  <label > Enter person :</label>
                  <input class="form-control" placeholder="Persons" id="person" type="number" name="person" value="{{ request.session.person }}" required>
                  <span class="" style="color:red">note* 1 room/2 person</span>
                  <p style="color: red;">{{errorrooms}}</p>
                </div>
              </div><br>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                <button type="submit" id = "submit" class="btn btn-sm btn-primary">Search</button>
              </div><br>
            </div>
          </div>
        </form>
      </div>  
    </div>
  </div>
</section>

	{% block mainblock %}
	{% endblock %}


  <!-- footer section -->
  <footer class="footer_section d-flex justify-content-end">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
        Distribution <a href="https://themewagon.com">ThemeWagon</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->
<!-- Add this script to the bottom of your HTML file -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function () {
    
  $('#city').value('{{request.session.city}}');
  $('#checkin').value('{{request.session.checkin}}');  
  $('#checkout').value('{{request.session.checkout}}');
  $('#person').value('{{request.session.person}}');

  });
 </script>
  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
$(document).ready(function() {
    $('#city').on('input', function() {
        var inputVal = $(this).val();
        var cityList = $('#cityList');
        cityList.empty(); // Clear previous suggestions
        if (inputVal.trim().length === 0) {
            cityList.hide();
            return;
        }
        $.each(citySuggestions, function(index, suggestion) {
            if (suggestion.toLowerCase().includes(inputVal.toLowerCase())) {
                var li = $('<li>').text(suggestion);
                cityList.append(li);
            }
        });
        cityList.show();
    });

    // Handle click on a suggestion
    $(document).on('click', '#cityList li', function() {
        var selectedCity = $(this).text();
        $('#city').val(selectedCity);
        $('#cityList').empty().hide();
    });
});

var citySuggestions = [
    {% for city in citylist %}
        "{{ city }}",
    {% endfor %}
];
</script>


<!-- DataTable javascript -->
{% block scriptblock %}

{% endblock %}
</body>

</html>



